<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sarangjoshi.rhsmustangs"
    android:versionCode="2"
    android:versionName="1.0.2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rhsasb_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sarangjoshi.rhsmustangs.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sarangjoshi.rhsmustangs.HttpActivity"
            android:label="@string/http_name"
            android:parentActivityName="com.sarangjoshi.rhsmustangs.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sarangjoshi.rhsmustangs.MainActivity" />
        </activity>
        <activity
            android:name="com.sarangjoshi.rhsmustangs.LinksActivity"
            android:label="@string/links_name"
            android:parentActivityName="com.sarangjoshi.rhsmustangs.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sarangjoshi.rhsmustangs.MainActivity" />
        </activity>
        <activity
            android:name="com.sarangjoshi.rhsmustangs.twitter.TActivity"
            android:label="@string/twitter_name"
            android:parentActivityName="com.sarangjoshi.rhsmustangs.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sarangjoshi.rhsmustangs.MainActivity" />
        </activity>
        <activity
            android:name="com.sarangjoshi.rhsmustangs.twitter.TTweetsActivity"
            android:label="@string/twitter_name"
            android:parentActivityName="com.sarangjoshi.rhsmustangs.twitter.TActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sarangjoshi.rhsmustangs.twitter.TwitterActivity" />
        </activity>
        <activity
            android:name="com.sarangjoshi.rhsmustangs.schedule.SActivity"
            android:label="@string/schedule_name"
            android:parentActivityName="com.sarangjoshi.rhsmustangs.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sarangjoshi.rhsmustangs.MainActivity" />
        </activity>
        <activity
            android:name="com.sarangjoshi.rhsmustangs.AlarmActivity"
            android:label="Alarm Activity"
            android:parentActivityName="com.sarangjoshi.rhsmustangs.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sarangjoshi.rhsmustangs.MainActivity" />
        </activity>

        <receiver android:name="com.sarangjoshi.rhsmustangs.schedule.AlarmReceiver" >
        </receiver>
        <service android:name=".schedule.SService" >
        </service>
    </application>

</manifest>